[Unit]
Description=Weather service

[Service]
Type=oneshot
# ensure service doesn't hang in 'started' state
TimeoutStartSec=10
ExecStart=/home/root/.local/share/pdflets/weather.sh
